[submodule "cangjie_compiler"]
	path = cangjie_compiler
	url = https://gitcode.com/filaco/cangjie_compiler.git
	branch = dev
[submodule "cangjie_test"]
	path = cangjie_test
	url = https://gitcode.com/filaco/cangjie_test.git
	branch = dev
[submodule "cangjie_runtime"]
	path = cangjie_runtime
	url = https://gitcode.com/filaco/cangjie_runtime.git
	branch = dev
[submodule "cangjie_multiplatform_interop"]
	path = cangjie_multiplatform_interop
	url = https://gitcode.com/filaco/cangjie_multiplatform_interop.git
	branch = dev
[submodule "cangjie_test_framework"]
	path = cangjie_test_framework
	url = https://gitcode.com/filaco/cangjie_test_framework.git
	branch = dev
